:root {
    --blackish: #242130;
    --dark-turqoise: #007A66;
    --turqoise: hsl(171, 100%, 41%);
    --red: #e3170a;
    --white: #f6f6f6;
    --title-font: 'Comfortaa', cursive;
    --text-font: 'Roboto', sans-serif;
    font-size: 1vw !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--blackish);
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.title-top {
    color: var(--turqoise);
    font-family: var(--title-font);
    font-size: 8rem;
    margin: 2rem;
}

.input-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.result-box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 4px solid var(--turqoise);
    border-radius: 8px;
    background-color: var(--dark-turqoise);
}

.song-title {
    font-size: 1.5rem;
    color: var(--white);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link {
    font-size: 2rem;
    color
}

.button {
    font-size: 1.5rem !important;
}

.input {
    font-size: 1.5rem !important;
}