<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <link rel="icon" type="image/png" sizes="32x32" 
    href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <script src="static\main.js"></script>
    <title>AudioRIP</title>
</head>
<body>
    <div class="input">
        <input name="linkInput" type="text" id="input-form">
        <button id="submit-button" onclick="sendLink()">Get Link</button>
    </div>
    <audio id="audio-player"></audio>
</body>
</html>