<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <link rel="icon" type="image/png" sizes="32x32" 
    href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <script src="static\main.js"></script>
    <title>AudioRIP</title>
</head>
<body>
    <div class="title-top">AudioRip</div>
    <div class="input-container">
        <input class="input is-primary" name="linkInput" type="text" id="input-form" placeholder="Enter URL...">
        <button class="button is-primary" id="submit-button" onclick="sendLink()">Rip It</button>
    </div>
    <div id="1" class="result-box">
        <div class="song-title">Test Title - Me.mp3</div>
        <a id="link" download=""><div class="button is-link">Download</div></a>
    </div>
</body>
</html>